.main-card{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: rgb(61, 146, 231);
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card img {
    width: 40%;
   margin-left: 80px;
}
.card h2{
    text-align: center;
}
.letter-center h1{
    text-align: center;
}
.main-card{
    @include responsiveSize(medium){
        flex-wrap: wrap;
        .card{
            width: 30%;
        }
    }
    @include responsiveSize(small){
        .card{
            width: 100%;
        }
    }
}