.aside{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    img{
        width: 80%;
        margin-left: 30px;
    }
    button{
        padding: $padding;
    }
}
.aside{
    @include responsiveSize(medium){
        h1{
            font-size: 28px;
        }
        p{
            font-size: 15px;
        }
        justify-content: space-evenly;
        .aside-right{
            margin-right: $ml;
        }
    }
    @include responsiveSize(small){
        display: flex;
        flex-direction: column-reverse;
        p{
            display: none;
        }
        h1{
            text-align: center;
        }
        button{
            display: none;
        }
    }
}