.content{
    display: flex;
    // justify-content: space-evenly;
    h2{
        border-bottom: 1px solid black;
        background-color: rgb(61, 146, 231);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 10px;
    }
    .table{
        margin-top: -3.5%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }
    .text1{
        display: flex;
        i{
            margin-top: -15px;
        }
        p{
            margin-left: 5px;
            margin-top: 20vh;
            
        }
        margin-left: 10px;
    }
    .text2{
        margin-left: -10px;
    }
    .pre-text{
        display: flex;
        color: rgb(91, 89, 89);
        font-size: 10px;
    }
    .content-left{
        width: 60%;
        margin-left: $ml;
    }
    .group{
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        img{
            width: 100px;
        }
        .left{
            display: flex;
            .text{
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                p{
                    margin-top: -15px
                }
            }
        }
        .right{
            @extend .left;
            margin-right: $ml;
        }
    }
    .content-right{
        width: 30%;
        margin-left: 30px;
        // margin-top: 17px;
        h3{
            background-color: rgb(61, 146, 231);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 10px;
        }
        .card{
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            margin-top: -5%;
            h4{
                padding: 10px;
                margin-top: -15px;
                border-bottom: 1px solid black;
            }
        }
    }
    h3:hover{
        color: #4BCCEF;
    }
    p:hover{
        color: rgb(224, 129, 129) ;
    }
    .left:hover{
        color: #4BCCEF;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .next{
        margin-top: 30px;
        button{
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-left: 5px;
        }
        i{
            font-size: 10px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.content{
    @include responsiveSize(medium){
        .group{
            display: flex;
            flex-direction: column;
        }
        .left{
            border-bottom: 1px solid black;
        }
    }
    @include responsiveSize(small){
        @include small;
        .content-left{
            width: 90%;
            margin-right: 50%;
            margin-left: 25px;
            .table{
                // width: 100px;
                margin-top: -5.5%;
            }
        }
        .content-right{
            width: 85%;
            margin-right: 20%;
        }
        margin-top: 20%;
    }
}