@import"../Global/mixin";
.header{
    background:url(../../) no-repeat center;
    background-size: cover;
    height: 78vh;
    width: 100%;
    margin-top: -50;
    padding-top: 10%;
    .head{
        background-color: rgba(27, 146, 205, 0.558);
        // padding-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 30px;
    }
    h1{
        @include box;
        padding-top: 5px;
        margin-top: 10%;
        text-transform: uppercase;
        color:white;
    }
    .int{
        @include box;
        margin-top: 30px;
    }
    .group-int{
        background-color: #fff;
        padding: 10px;
        margin-left: 2px;
        width: 15%;
    }
    input{
        border: none;
        outline: none;
        width: 90%;
    }
    select{
        border: none;
        outline: none;
    }
    button{
        border: none;
        outline: none;
        background-color: orange;
    }
    .group-input{
        background-color: orange;
        padding: 10px;
        margin-left: 5px;

    }
    
}
.header{
    @include responsiveSize(medium){
        height: 50vh;
        h1{
            margin-top: 25%;
        }
        .group-input{
            width: 20%;
        }
        .group-int{
            width: 20%;
        }
    }
    @include responsiveSize(small){
        .head{
            // width: 100%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: -10px;
            h1{
                text-align: center;
            }
        }
        .int{
            display: flex;
            flex-direction: column;
        }
        .group-input{
            width: 30%;
            margin-top: 10px;

        }
        .group-int{
            width: 80%;
            margin-top: 10px;
        }
    }
}